{% extends "network/layout.html" %}

{% block title %}Following{% endblock %}

{% block body %}
    <div id="page-index"></div>

    <section id="posts">
        <h3>Following posts</h3>

        <div id="posts-list" class="posts-list">    
        </div>

        <nav id="pagination-navbar" class="navbar navbar-expand-lg" aria-label="Page navigation">
            <ul id="pagination-ul" class="pagination">
                <li class="page-item"><button id="previous" class="btn btn-outline-primary btn-sm my-btn">Previous</button></li>
                <li class="page-item"><button id="next" class="btn btn-outline-primary btn-sm my-btn">Next</button></li>
            </ul>   
        </nav>
    </section>
{% endblock %}