{% extends "network/layout.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
    <section id="profile">
        <h3 id="profile-username">{{ username }}</h3>
        
        <h5>Following: <span id="following-count">{{ following|length }}</span></h5>

        <h5>Followers: <span id="followers-count">{{ followers|length }}</span></h5>

        <div id="profile-message"></div>
    </section>

    <section id="posts">
        <div id="posts-message"></div>
        
        <h3>My posts</h3>

        <div id="posts-list" class="posts-list">    
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item"><button id="previous">Previous</button></li>
                <li class="page-item"><button id="next">Next</button></li>
            </ul>   
        </nav>
    </section>

    <section id="follow">
        {% if user.is_authenticated %}
            {% csrf_token %}
                {% if f == "True" %} 
                    <button id="follow-btn" data-active="True">
                        Unfollow
                    </button>
                {% elif user.username == username %}
                    <!-- Do not show any button when user seeing their own profile page -->
                    <button id="follow-btn"></button>
                {% else %}
                    <button id="follow-btn" data-active="False">
                        Follow
                    </button>
                {% endif %}
        {% endif %}
    </section>
{% endblock %}