{% extends "network/layout.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div id="page-index"></div>

    <section id="profile">
        <h3 id="profile-username">{{ username }}</h3>
        <h6 id="following">Following <span id="following-count">{{ following|length }}</span></h6>
        <h6 id="followers">| Followers <span id="followers-count">{{ followers|length }}</span></h6>
    </section>

    <section id="follow">
        {% if user.is_authenticated %}
            {% csrf_token %}
                {% if f == "True" %} 
                    <button id="follow-btn" data-active="True" class="btn btn-outline-success btn-sm my-btn">
                        Unfollow
                    </button>
                {% elif user.username == username %}
                    <!-- Do not show any button when user seeing their own profile page -->
                    <div id="follow-btn"></div>
                {% else %}
                    <button id="follow-btn" data-active="False" class="btn btn-outline-success btn-sm my-btn">
                        Follow
                    </button>
                {% endif %}
        {% endif %}
    </section>

    <section id="posts">
        <h3>{{ username }}'s posts</h3>

        <div id="posts-list" class="posts-list">    
        </div>

        <nav id="pagination-navbar" class="navbar navbar-expand-lg" aria-label="Page navigation">
            <ul id="pagination-ul" class="pagination">
                <li class="page-item"><button id="previous" class="btn btn-outline-primary btn-sm my-btn">Previous</button></li>
                <li class="page-item"><button id="next" class="btn btn-outline-primary btn-sm my-btn">Next</button></li>
            </ul>   
        </nav>
    </section>
{% endblock %}